.sidebar-links
  li
    span
      font-weight 400
      font-size 1.1rem
  li:nth-of-type(1)
    span
      font-weight 500
      font-size 1rem

.sidebar-heading.open
  border-left-color #3eaf7c
  span
    color #3eaf7c

a.sidebar-link.active
  font-weight 400!important
  font-size 0.8rem